$lightYellow:#FFD98E;
$dirtyWhite:#f8f9fa;
$grey:#565C64;
$cyan:#1E90FF;
$dirtyRed:#ad0000;
$blue1:#0056b3;
$yellow1:#ffff00;
$grey2:#F5F5F5;
$black2:#0000004d;
$yellow2: #ffee66;
$blue:#0000ff;
$white:#ffffff;
$red:#ff0000;
$blue3:#007bff;
$success-color: #28a745;
$success-hover-color: #006c2d;
$danger-color: #dc3545;
$danger-hover-color: #a71d2a;
