.form-container {
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
  border: 5px solid black;
  padding:20px;
  border-radius: 20px;
}
.text-center{
  align-content: center;
}
.loginButtonDiv{
  display:flex;
  justify-content: space-between;
}
